.buttonHeader {
    font-weight: $header-font-weight;
    color: $text-color;
    font-size: $header-font-button;
    background-color: $btn-color;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.8em 1em;
}



