
//Colors 
$bg-color: #F8EDE3;
$header-review-color: #ffffff;


//Button color
$btn-color: #96C67F;

// Font colors
$text-color: #1F1D2A;
$text-color-p: #9B948E;

//Font sizes
$nav-font-size: 1rem;
$nav-font-logo: 2rem;

$header-font-h1: 3.4375rem;
$header-font-text: 1rem;
$header-font-review: 0.875rem;
$header-font-button: 1.25rem;

$main-font-header: 2rem;
$main-font-text: 1.125rem;
$card-font-head: 1.25rem;
$card-font-text: 1rem;

//Font weight
$nav-font-weight: 400;
$header-font-weight: 600;